* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  background-color: #3c3a39;
}

.header .menu_wide {
  display: none;
}

.header .menu {
  display: block;
  margin-right: 24px;
}

.header .logo {
  margin-left: 24px;
}

.logo img {
  width: 50px;
  border-radius: 50%;
}

/* Intro section */
.introduction {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  height: 590px;
  background-color: #1c1a19;
  background-image: url(/static/images/des.png);
  background-repeat: no-repeat;
  background-position: right 435px;
}

.introduction .name {
  min-width: 327px;
}

.introduction .name h1 {
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  font-family: 'Crete Round', serif;
}

.introduction .occupation {
  color: #fff5e1;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
}

.introduction .description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
}

.links ul {
  display: flex;
  list-style-type: none;
}

.languages ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 24px;
}

.footer ul li {
  margin-right: 30px;
}

.languages ul li {
  margin: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction ul li {
  margin-right: 30px;
}

.links ul li {
  margin-right: 12px;
  padding: 10px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500px;
  line-height: 20px;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  border: #8993a4 solid 1px;
}

.languages ul li ul li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.languages ul li ul {
  margin-top: 24px;
}

.introduction .social ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.margin_bottom {
  margin-bottom: 20px;
}

.padding_lr {
  padding-left: 24px;
  padding-right: 24px;
}

/* Recent works */
.recent_works {
  width: calc(100% - 48px);
  padding-top: 120px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
}

.recent_works .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent_works .title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 83px;
  font-size: 40px;
  font-weight: 400;
  color: #1c1a19;
  font-family: 'Crete Round', serif;
  padding-bottom: 24px;
  margin: 24px;
}

.recent_works .title hr {
  height: 1px;
  width: 327px;
  font-size: 40px;
  font-weight: 400;
  background-color: #212121;
}

.recent_works .place_holder {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.place_holder img {
  width: 100%;
}

.mp_stories {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.mp_stories h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #091e42;
  font-family: 'Crete Round', serif;
}

.mp_stories p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #091e42;
  font-family: "Inter", sans-serif;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12px;
}

.buttons {
  width: 100%;
  margin-top: 12px;
  padding-top: 12px;
}

.buttons a {
  padding: 12px;
  color: #fff;
  background-color: #ff6b00;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.img_p_holder {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  width: calc(100% - 48px);
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(/static/images/bg2.png);
  background-origin: border-box;
}

.img_p_holder .mp_stories,
.img_p_holder .links ul {
  margin-left: 13px;
  margin-right: 13px;
}

.img_p_holder .mp_stories {
  width: calc(100% - 26px);
  margin-top: 72px;
}

.img_p_holder .mp_stories h2 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.img_p_holder .mp_stories p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.img_p_holder .links ul li {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.img_p_holder .buttons {
  display: flex;
  justify-content: left;
}

.img_p_holder .buttons a {
  width: 100%;
}

.child-2 {
  display: none;
}

.child-3 {
  display: none;
}

.child-7 {
  display: block;
}

.child-8 {
  display: block;
}

/*  About  */
.about {
  display: flex;
  flex-direction: column;
  height: 652px;
  margin-top: 120px;
  padding-top: 120px;
  background-color: #1c1a19;
  background-image: url(/static/images/art.png);
  background-repeat: no-repeat;
  background-position: right 430px;
  margin-bottom: -1px;
}

.about .about_summary h1 {
  width: 327px;
  height: 79px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.about .about_summary p {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  border: none;
}

.about .buttons {
  margin-top: 24px;
  margin-left: 24px;
}

.about .bottom_line {
  height: 590px;
  margin-left: 24px;
  margin-right: 24px;
  border-bottom: #fff solid 1px;
}

/* Languages */
.languages {
  width: 100%;
  height: 1149px;
  padding-top: 136.73px;
  display: block;
  color: #fff;
  background-color: #1c1a19;
}

.languages ul li h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.languages ul li h3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6px;
  color: #ff6b00;
  font-size: 32px;
  margin-right: 12px;
}

.contact .form button {
  height: 48px;
  background-color: #ff6b00;
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border: 0;
}

.buttons a:hover,
.contact .button button:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: #f55800 solid 1px;
}

.buttons a:active,
.contact .button button:active {
  color: #fff;
  background-color: #e05304;
}

.buttons a:disabled,
.contact .button button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.contact {
  height: 700px;
  margin-top: 69px;
  border-bottom: #dfe1e6 solid 1px;
}

.contact .announcement p {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #172b4d;
}

.contact .announcement {
  margin-left: 23px;
  margin-right: 25px;
}

.contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 23px;
  margin-right: 25px;
  margin-top: 90px;
}

.contact .form input {
  width: 100%;
  margin-bottom: 24px;
  border: 0;
  border-bottom: #dbd8d7 solid 1px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  color: #979493;
}

.contact .form textarea {
  width: 100%;
  border: 0;
  background-color: #fbf8f7;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  color: #3c3a39;
}

.contact .form .button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .bottom_border {
  width: 134px;
  margin-right: 24px;
  margin-top: 47px;
  border-top: #0d151e solid 2.5px;
  border-bottom: #0d151e solid 2.5px;
  background-color: #0d151e;
  margin-bottom: 11px;
  border-radius: 5px;
}

.header .logo:hover {
  animation: rotate_logo 2s ease;
}

.menu_wide a:hover {
  transition: font-size 0.5s ease;
  font-size: 20px;
}

a:hover img {
  transition: transform 0.5s ease;
  transform: scale(1.5);
}

.show_case .img_p_holder:hover {
  transition: transform 0.5s ease-in;
  transform: scale(1.08);
}

.buttons a:hover,
.contact .form .button button:hover {
  border: #000 solid 2px;
  transition: all 0.5s ease-in;
}

@keyframes rotate_logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-left: 154px;
  }

  .header .menu_wide {
    display: block;
    margin-right: 151px;
  }

  .languages ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
  }

  header .menu_wide ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  header .menu_wide ul li {
    margin-right: 32px;
  }

  header .menu_wide ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
  }

  .header .menu {
    display: none;
  }

  .introduction {
    height: 870px;
    flex-direction: row-reverse;
    justify-content: left;
    padding-top: 0;
    background-image: url(/static/images/bg_desktop.png);
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .introduction .intro_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 400px;
    margin-bottom: 59px;
  }

  .introduction .social {
    display: flex;
    align-items: center;
  }

  .languages ul li ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .languages ul li ul li {
    font-size: 22px;
  }

  .introduction .social ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
  }

  .introduction .social ul li {
    margin-bottom: 12px;
  }

  .introduction .description {
    max-width: 566px;
  }

  .recent_works .wrapper {
    width: calc(100% - 282px);
  }

  .recent_works .title {
    display: flex;
    flex-direction: row;
  }

  .recent_works .title hr {
    width: calc(100% - 315px - 24px);
  }

  .recent_works .title h1 {
    width: 315px;
    margin-left: 0;
    padding-left: 0;
  }

  .recent_works .recent_summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
  }

  .recent_works .place_holder {
    width: 60%;
    padding-top: 0;
  }

  .recent_works .stories {
    width: 50%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 24px;
  }

  .mp_stories {
    margin-top: 0;
    min-width: 50%;
  }

  .child-1 .mp_stories {
    padding-top: 0;
  }

  .mp_stories p {
    width: 100%;
  }

  .show_case {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
  }

  .show_case .wrapper {
    width: calc(100% - 282px);
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 435px 435px;
    row-gap: 37px;
    column-gap: 24px;
  }

  .show_case .img_p_holder {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 24px;
  }

  .img_p_holder .buttons {
    display: none;
    padding-top: 0;
    margin-top: 0;
  }

  .show_case .wrapper .child-1 {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(/static/images/bg_c1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .show_case .wrapper .child-2 {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(/static/images/bg_c2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .show_case .wrapper .child-3 {
    background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(/static/images/bg_c3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .show_case .wrapper .child-4 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url(/static/images/bg_c1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .show_case .wrapper .child-5 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url(/static/images/bg_c2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .show_case .wrapper .child-6 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url(/static/images/bg_c3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .show_case .wrapper .child-1:hover {
    background-image: url(/static/images/bg_c1.png);
    padding-bottom: 0;
  }

  .show_case .wrapper .child-2:hover {
    background-image: url(/static/images/bg_c2.png);
    padding-bottom: 0;
  }

  .show_case .wrapper .child-3:hover {
    background-image: url(/static/images/bg_c3.png);
    padding-bottom: 0;
  }

  .show_case .wrapper .child-4:hover {
    background-image: url(/static/images/bg_c1.png);
    padding-bottom: 0;
  }

  .show_case .wrapper .child-5:hover {
    background-image: url(/static/images/bg_c2.png);
    padding-bottom: 0;
  }

  .show_case .wrapper .child-6:hover {
    background-image: url(/static/images/bg_c3.png);
    padding-bottom: 0;
  }

  .show_case .wrapper .img_p_holder .links {
    display: block;
  }

  .show_case .wrapper .img_p_holder:hover .mp_stories {
    display: none;
  }

  .show_case .wrapper .img_p_holder:hover .links {
    display: none;
  }

  .about .buttons {
    margin-left: 0;
  }

  .show_case .wrapper .img_p_holder:hover .buttons {
    display: flex;
  }

  .show_case .child-7,
  .show_case .child-8 {
    display: none;
  }

  .about {
    margin-right: 0;
    padding-left: 141px;
    padding-right: 141px;
    background-color: #1c1a19;
    background-image: url(/static/images/frame_art.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: -1px;
  }

  .bottom_line {
    display: flex;
    flex-direction: column;
  }

  .about_summary {
    width: 40%;
    margin-top: 130px;
    margin-left: 0;
    padding-left: 0;
  }

  .languages {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    padding-top: 90px 141px 142px 141px;
  }

  .languages .wrapper {
    width: 100%;
    margin-bottom: 142px;
  }

  .contact .wrapper {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 141px;
    padding-right: 141px;
  }

  .contact .announcement {
    width: 40%;
    text-align: left;
  }

  .contact .announcement p {
    text-align: left;
  }

  .contact .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin-top: 0;
  }

  .contact .form input,
  textarea {
    padding: 12px;
  }
}
