* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98vh;
  background-color: #1c1a19;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-image: url(/static/images/des.png);
  background-repeat: no-repeat;
  background-position: bottom -45px right;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 98vh;
    background-color: #1c1a19;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-position: right;
    background-size: 25vw;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #333;
}

.head div {
  margin-left: 20px;
  margin-right: 20px;
}

.logo img {
  width: 60px;
  border-radius: 50%;
}

.name h1 {
  font-size: 56px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  color: #ff6b00;
}

.name h3 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.content {
  width: 80vw;
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 50px;
}

.description {
  margin-top: 10px;
}

.description p {
  font-size: 16px;
  font-family: 'Popins', Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
}

.menu img:hover {
  background-color: gray;
}

.menu {
  margin-right: 20px;
}

.social {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.social ul {
  width: 100%;
  list-style-type: none;
}

.social ul li {
  display: inline-block;
  padding: 2%;
}
